{% extends "base.html.twig" %}

{% block body %}
<div class="container text-center text-white">
{{form_start(formRegister) }}
    {{form_widget(formRegister)}}
    <input type="submit" value="Registro"/>
    {{form_end(formRegister) }}
</div>
{% endblock %}